/*activityDetail*/

#content .activityBox{width:980px;min-height:560px;margin:30px 110px 60px 110px;float:left;}
#content .activityBox .titleBox{width:100%;height:90px;border-bottom:1px solid #e7e7e7;position:relative;}
#content .activityBox .titleBox>h2{height:40px;line-height:40px;}
#content .activityBox .titleBox>p{height:50px;line-height:50px;color:#999;}
#content .activityDetail{width:100%;float:left;}
#content .activityDetail .img{width:100%;height:400px;float:left;}
#content .activityDetail .intro{width:100%;height:346px;padding:20px;background-color:#ebeced;color:#656565;float:left;}
#content .activityDetail p{width:100%;margin-top: 10px;line-height:25px;}