/*.announcement*/

.listCont{width:100%;padding:20px 0;float:left;}
.listCont .tabUl{width:100%;padding-left:10px;border-bottom:1px solid #c5c7c9;float:left;}
.listCont .tabUl li{width:110px;height:39px;margin-left:6px;text-align:center;line-height:39px;color:#333;cursor:pointer;
    float:left;background:url(../images/tabUl.png) 0 0 no-repeat;}
.listCont .tabUl li.curr{background-position:0 -41px;color:#fff;}
.listCont .tabCont{width:100%;padding:20px;float:left;}
.listCont .tabCont .ggList li{width:100%;height:41px;line-height: 41px;position: relative;}
.listCont .tabCont .ggList li a{color:#444;font-weight: bold;}
.listCont .tabCont .ggList li:hover a{color:#08c24e;}
.listCont .tabCont .ggList li a>span>b{
    display: inline-block;width:6px;height:6px;background-color: #444;position: relative;top:-2px;left:0;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;}
.listCont .tabCont .ggList li:hover a>span>b{background-color:#08c24e;}
.listCont .tabCont .ggList li a>i.line{margin: 0 10px;display: inline-block;width:800px;height:1px;border-bottom: 1px dashed #b5b5b5;position: relative;top:17px;}
.listCont .tabCont .ggList li:hover a>i.line{border-bottom-color:#08c24e;}
.listCont .tabCont .ggList li .date{color:#999;font-weight: normal;}
.listCont .tabCont .ggList li:hover .date{color:#08c24e;}