/* 头部 */
.wrapper .top{width: 100%;height:120px;}
.top .topInner{width: 1200px;height:120px;margin: 0 auto;z-index: 100;}
.top .topInner>div{display: inline-block;float: left;}
.top .topInner .logo{width:300px;height:120px;}
.top .search{width: 900px;height:68px;padding-top: 16px;}
.top .search .loginBox{height:40px;margin-right:20px;float:right;}
    .loginBox li{height:14px;line-height:14px;margin-top:9px;font-size:12px;float:left;}
    .loginBox li a{padding:0 14px;color:#666;}
    .loginBox li a:hover{color:#dd3730;text-decoration:underline;}
    .loginBox li.login{border-right:1px solid #666;}
.top .search .searchBox{width: 380px;height: 32px;border: 1px solid #dd3730;padding: 0 75px 0 5px;position: relative;
    overflow:hidden;float: right;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;}
    .top .search .searchBox.hover{border-color:#dd1f16;}
    .searchBox .input_text{width:290px;height: 30px;line-height:30px;outline: none;border:none;color:#666;
        float: left;}
    .searchBox .s_btn{display: inline-block;width:75px;height:30px;line-height: 30px;text-align: center;
        background-color:#dd3730;color:#fff;font-size: 14px;position: absolute;right:0;}
    .searchBox.hover .s_btn{background-color:#dd1f16;font-size: 14px;}
    .searchBox .s_btn:hover{background-color:#dd1f16;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;}
/*导航菜单*/
.top .navDown{width:900px;height:52px;padding-left:28px;padding-bottom: 16px;float: left;}
    .navDown .navMenu{height:36px;line-height:36px;float:left;position:relative;z-index:100;}
    .navMenu>li{height:36px;text-align:right;position:relative;z-index:100;float:left;}
    .navMenu>li .point{
        display: inline-block;width:4px;height:4px;background-color: #333;position: relative;top:-3px;margin: 0 2px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;}
    .navMenu li>a{color:#333;padding:0 24px;line-height:36px;font-size:16px;display: block;text-transform:uppercase;  }
    .navMenu li>ul>li>a{line-height:37px;font-size:16px;color:#fff;}
    .navMenu li:hover,.navMenu li.curr{background-color:#dd3730;}
    .navMenu li:hover a,.navMenu li.curr a{color:#fff;}
    .navMenu li:hover .point,.navMenu li.curr .point{background-color:#fff;}
    .navMenu .dropDown{left:0;width:112px;top:100%;max-height:0;position:absolute;z-index:0;}
    .navMenu li.sp .dropDown{width:120px;}
    .navMenu .dropDown li{width:112px;background-color:#dd3730;display:none;}
    .navMenu li.sp .dropDown li{width:120px;}
    .navMenu>li:hover .dropDown li/*,.navMenu>li.curr .dropDown li*/{display:block;text-align:left;}
    .navMenu>li .dropDown li:hover,.navMenu>li .dropDown li.curr{background-color:#dd1f16;}


/* 底部 */
.footer{width:100%;height:150px;padding:30px 0;float: left;}
.footer p{text-align: center;font-size:12px;color: #666;line-height:22px;}
.footer p.p1{line-height:35px;}
.footer p a{color: #666;}
.footer p a:hover{color:#dd3730;text-decoration: underline;}

/*************图片轮播样式************/
/*
.viewport{ width:1200px;overflow: hidden;  background: #2d2d2d;zoom:1;margin: 0 auto;}
    .sliders{zoom:1;overflow: hidden;float: left; width: 100%}
    .sliders li{width: 100%; float: left; position: relative; overflow: hidden; background: #2d2d2d url(../images/ajax-loader-dark.gif) center center no-repeat;}
    .sliders img{width: 100%;float: left;}  
    .viewport .point{position: absolute; left:50%;margin-left:-170px;bottom: 0;height: 43px; width:100%;max-width: 1192px;!* border-bottom: solid 1px #0091d5;*!}
    .viewport .point ul{ position:absolute; right:2%; top:45%;}
    .viewport .point li{float: left; width:30px;}
    .viewport .point li a{display:block;color: #fff;cursor: pointer; padding-left:0; width:15px;  height:15px; background:url(../images/sprite.png) -98px -24px no-repeat; margin:0 5px;}
    .viewport .point a:hover{text-decoration: none;}
    .viewport .point li.current a{background-position:-122px -24px;}
    !* 箭头 *!
    .viewport .dir_prev{background: url(../images/arrow.png) 0 0 no-repeat;width: 55px;height: 80px;position: absolute; left: 0;top: 50%;margin-top: -40px;display: inline-block;}
    .viewport .dir_next{background: url(../images/arrow.png) -105px 0 no-repeat;width: 55px;height: 80px;position: absolute; right:0;top: 50%;margin-top: -40px;display: inline-block;}
*/

/*详情页轮播*/
/*
#banner {width:100%;height:440px;overflow:hidden;position:relative;}
    #banner .bannerList{width:400%;max-height:440px;position:relative;float:left;}
    #banner .bannerList li{width:25%;max-height:440px;float:left;}
    #banner .bannerList li img{width:100%;max-height:440px;}

    .flexslider{margin:0 auto;position:relative;width:1200px;height:440px;overflow:hidden;zoom:1;}
    #banner .flex-viewport{max-height:2000px;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;transition:all 1s ease;}
    #banner .flexslider .slides{zoom:1;}
    #banner .flex-control-nav{width:100%;position:absolute;bottom:10px;text-align:center;}
    #banner .flex-control-nav li{margin:0 5px;display:inline-block;zoom:1;*display:inline;}
    #banner .flex-control-paging li a{display:block;width:14px;height:14px;overflow:hidden;text-indent:-99em;cursor:pointer;background:url(../images/slide_btn.png) 0 0 no-repeat;}
    #banner .flex-control-paging li a.flex-active,.flex-control-paging li a:hover{background:url(../images/slide_btn.png) -28px 0 no-repeat;}
    #banner .mask{width:566px;height:154px;position: absolute;top:108px;right:30px;background: url(../images/mask_01.png) no-repeat;z-index: 99;color:#fff;padding:20px;}
    #banner .mask .intro{font-size:14px;line-height: 25px;margin-top: 10px;}
*/

/*面包屑*/
#content .crumbs{width:100%;height:40px;line-height:40px;font-size:14px;float:left;}
    #content .crumbs .clr_666{color:#666;}
    #content .crumbs .curr{color:#dd3730;}
    #content .crumbs a:hover{text-decoration: underline;}

/*#content*/
#content{width:100%;padding-bottom:30px;position:relative;z-index:50;background-color: #fff;float:left;}
    #content .inner{width:1200px;margin:0 auto;}
    #content .main{width:1200px;margin:0 auto;}

/*pageControll 分页组件*/
#content .pageControl{width:100%;height:120px;float:left;padding:40px;}
    .pageControl ul{width:100%;height:38px;float:right;}
    .pageControl ul li{min-width:38px;height:38px;line-height:38px;text-align:center;color:#666;margin-left:4px;border:1px solid #ccc;cursor:pointer;float:right;}
    .pageControl ul li.prevBtn,.pageControl ul li.nextBtn{padding:0 10px;}
    .pageControl ul li>a{display:inline-block;color:#dd3730;padding:0 10px;}
    .pageControl ul li:hover,.pageControl ul li.curr{background:#dd3730;color:#fff;}
    .pageControl ul li.prevBtn>b{display:inline-block;width:0;height:0;border:6px solid transparent;border-right-color:#ccc;position:relative;left:-3px;}
    .pageControl ul li.prevBtn:hover>b,.pageControl ul li.prevBtn.curr>b{border-right-color:#fff;}
    .pageControl ul li.nextBtn{padding-right:15px;}
    .pageControl ul li.nextBtn>b{display:inline-block;width:0;height:0;border:6px solid transparent;border-left-color:#ccc;position:relative;left:10px;}
    .pageControl ul li.nextBtn:hover>b,.pageControl ul li.nextBtn.curr>b{border-left-color:#fff;}
    .pageControl ul li.input{color:#333;margin:0 5px;border:none;}
    .pageControl ul li.input:hover{color:#333;background-color:transparent;}
    .pageControl ul li.input>input{width:40px;height:38px;color:#333;margin:0 5px;font-size: 14px;
        border:1px solid #ccc;outline:none;padding:5px 5px 5px 10px;}

/* 列表 */
.newsContent .list_tit{font-size: 26px;color: #333333;padding: 10px 5px;margin-bottom: 10px;border-bottom: 1px solid #dcdee1;}
    .newsContent .list_tit.nobor{border: none;}
    .newsContent .list_tit b{border-left: 5px solid #0ec159;height: 28px;line-height: 28px;display: inline-block;margin-right: 10px;vertical-align: middle;margin-top: -2px;}
    .foodListUl{width:100%;}
    .foodListUl li{width:100%;height:170px;padding-top:20px;}
    .foodListUl li .img{width:240px;margin-right:30px;display:inline-block;float:left;}
    .foodListUl li .newsTitle{display:inline-block;width:930px;height:40px;line-height:30px;float:left;color: #333;font-size: 18px;}
    .foodListUl li .newsTitle a{color: #333;}
    .foodListUl li .txt{display:inline-block;float:left;width:930px;height:100px;line-height:25px;white-space:normal;overflow:hidden;text-overflow:ellipsis;}
    .foodListUl li .txt_a{color: #656565;}